@charset "utf-8";
body{
	background-color:black;
	
	}

nav{
	position:fixed;	
	}
ul.nav_bar{
	align-content:center;
	}
nav li{
	list-style-type:none;
	display:inline;
	width:100px;
	background-color:blue;	
	}
nav li a:link{
	color:yellow;
	
	}
nav li a:hover{
	background-color:red;
	font-size:18px;
	}