body {	
	background-color: black;
	color: white;
	}

h1 { 
	font-family: sans-serif;
	font-size: 50px;
	}
		
		
p {	
	font-family: sans-serif;
	}
	
ol {	
	font-family: sans-serif;
	}
	
/* unvisited link */
a:link {
    color: cyan;
	font-family: sans-serif;
}

/* visited link */
a:visited {
    color: Magenta;
	font-family: sans-serif;
}

/* mouse over link */
a:hover {
    color: LawnGreen;
	font-family: sans-serif;
}