nav li{
	font-family:arial;
	color:blue;	
	}
p{
	font-family:arial;
	 font-size: medium;
}

h1{
	font-family:arial;
	font-size:40pt;
}

footer li{
	font-family:arial;
	color:blue;	
}

a:visited{
	color:red;
}

a:link{
	color:blue
}