




p {font-family: "Calibri", sans-serif; font-size: 12 px;}

h1 {font-family:'Oswald', sans-serif; font-size: 20 px;}

nav ul li { display: inline; font-family: 'Oswald'; font-size: 12 px;}

ul li {font-family:"Calibri", sans-serif; list-style-type: square;} 

ol li {font-family:"Calibri", sans-serif; list-style-type: numeral;}